
  <div class="row">
      <form class="col s12" [formGroup]="form" (ngSubmit)="createFact($event)">
        <div class="row">
          <div class="input-field col s4">
            <input 
              formControlName="title"
              active placeholder="title" 
              id="title" 
              type="text" 
              class="validate">
            <label for="title">Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea 
              formControlName="content"
              placeholder="content"
              id="content" 
              type="text" 
              class="validate" 
              rows="4" cols="50">
            </textarea>
            <label for="content">Content</label>
          </div>
        </div>
        <button  class="btn wave right" type="submit">Submit!</button>
      </form>
    </div>
