
  <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s4">
            <input active placeholder="title" id="title" type="text" class="validate">
            <label for="title">Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea placeholder="content" value="" id="content" type="text" class="validate" rows="4" cols="50">
            </textarea>
            <label for="content">Content</label>
          </div>
        </div>
        <button class="btn wave right" type="submit">Submit!</button>
      </form>
    </div>
