<nav class="indigo">
    <ul id="nav-mobile" class="menu">
        <li><a href=""> <!-- Mobile only -->
            <mat-icon class="plus hide-on-large-only">menu</mat-icon>
            </a>
        </li>
        <li><a href="#" class="brand-logo ">AF</a></li>
        <li><div class="input-field hide-on-med-and-down"> <!-- Desktop only -->
                <i class="search material-icons prefix">search</i>
                <input autogrow type="text" placeholder="chercher une mythe" class="validate">
        </div></li>
        <ul class="right">
                <li>
                        <app-dropdown-menu>
                                <ng-container class="z-button">
                                        <a href="#">
                                        <mat-icon class="">add</mat-icon>
                                        </a>
                                </ng-container>
                                        
                                <ng-container  class="z-menu ">
                                        <div class="collection dropDownMenu">
                                        <a href="#" class="collection-item">AminoFact</a>
                                        </div>
                                </ng-container>
                        </app-dropdown-menu>
                </li>
                <li><a  class="hide-on-med-and-down">Se connecter</a></li>
                <li><a  class="hide-on-med-and-down">S'inscrire</a></li>
        </ul>
    </ul>
</nav>