<div class="card col s12 m6 l6 xl4">
  <div class="card-content black-text">
      <img src="http://via.placeholder.com/50/50" alt="">
    <span class="card-title">{{title}}</span>
    
    <p>{{content}}</p>
  </div>
  <div class="card-action">
    <button (click)="onFake()" class="btn indigo" [ngClass]="validated ? 'disabled' : ''" href="#">Fake!</button>
    <button (click)="onLegit()" class="btn indigo lighten-3" [ngClass]="validated ? 'disabled' : ''" href="#">Oh legit!</button>
  </div>
  
</div>
